@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/normalize.css/normalize.css";

@font-face {
  font-family: Smooch;
  src: url('../public/fonts/Smooch-Regular.ttf');
}

@font-face {
  font-family: Noto-Bold;
  src: url('../public/fonts/NotoSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Noto-Bold-Italic;
  src: url('../public/fonts/NotoSans-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Noto-Italic;
  src: url('../public/fonts/NotoSans-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Noto-Regular;
  src: url('../public/fonts/NotoSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lato-Regular;
  src: url('../public/fonts/Lato-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lato-Italic;
  src: url('../public/fonts/Lato-Italic.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lato-Bold-Italic;
  src: url('../public/fonts/Lato-BoldItalic.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lato-Bold;
  src: url('../public/fonts/Lato-Bold.ttf');
  font-style: normal;
  font-weight: 400;
}